<div class="container-fluid px-0">
<div class="breadcrumb text-center">
<div class="w-100">
    
         <h1 class="breadcrumb_title">Media Gallery</h1>
  </div>
</div>
</div>
<div *ngIf="loading" class="loading-container">
  <img src="../../../../assets/img/logo/images.jpg" alt="Loading..."  />
</div>
<div *ngIf="!loading">
  <div class="media-section pt-5">
    <div class="container mt-4">
      <div class="tabs-wrapper">
        <div class="row">
          <div class="col-md-4">
            <h2 class="menu-toggle text-primary" (click)="toggleMenu()">Categories</h2>
            <div class="mobile-tabs" [class.show]="mobileTabsVisible">
              <ul class="nav nav-tabs media-list">
                <h2 class="categories-title d-xl-none d-lg-none m-0">Categories</h2>
                <p class="category-count my-0 m-2 p-0 text-primary">{{ totalCategories }} Categories</p>
                <li *ngFor="let category of categories; let i = index" class="nav-item">
                  <a class="nav-link" [class.active]="i === activeTab" (click)="changeTab(i)">{{ category }}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-8">
             <div class="row">
        <div class="col-md-12">
             <div class="search-box my-3 search-container">
             <input type="text" class="form-control" placeholder="Search categories or media..."
                [(ngModel)]="searchQuery" (input)="filterResults()" />
            <button class="search-btn" id="searchBtn">
                <i class="fas fa-search"></i>
            </button>
        </div>
        </div>
    </div>
            <div class="search-container">
              <div class="tabs-content">
                <div *ngFor="let content of tabContent; let i = index" class="tab-pane fade"
                  [class.show]="i === activeTab" [class.active]="i === activeTab">
                  <div class="row">
                    <div *ngFor="
                        let item of content | paginate: { id: 'content-pagination', itemsPerPage: itemsPerPage, currentPage: currentPage }
                      " class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center grid-item my-2 px-2">
                      
                      <div class="media-card">
                        <img *ngIf="!item.loaded"
                          [src]="'https://img.youtube.com/vi/' + extractVideoId(item.url) + '/hqdefault.jpg'"
                          (click)="item.loaded = true" width="180" height="200" alt="Video thumbnail">
                        <iframe *ngIf="item.loaded" width="180" height="200" [src]="sanitizeUrl(item.url)"
                          allowfullscreen></iframe>
                        <p class="media-name">{{ item.name }}</p>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 text-center">
                    <pagination-controls id="content-pagination" (pageChange)="onPageChange($event)"
                      previousLabel="Previous" nextLabel="Next">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>