<div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-12">
            <form id="subcategory">
                <input type="hidden" value="">
                <input id="search" name="search" [(ngModel)]="searchQuery" (ngModelChange)="searchMedia()" type="text"
                    class="form-control" placeholder="Search" />
                <label>Topics</label>
                <div class="checkbox" *ngFor="let topic of ['Naat', 'Bayan', 'Kawaali']">
                    <label>
                        <input name="kw" type="checkbox" class="checkbox" [value]="topic"
                            (change)="updateFilter($event, 'topics', topic)" />
                        {{ topic }}
                    </label>
                </div>
                <label>VocalLists</label>
                <div class="checkbox"
                    *ngFor="let vocalist of ['Huzur Nasir Raza', 'Huzur Masoom Raza RA', 'Huzur Sanbil Raza']">
                    <label>
                        <input name="vocl" type="checkbox" class="checkbox" [value]="vocalist"
                            (change)="updateFilter($event, 'vocalLists', vocalist)" />
                        {{ vocalist }}
                    </label>
                </div>
                <label>Month</label>
                <div class="checkbox" *ngFor="let month of ['Muharram-ul-Haram', 'Safar-ul-Muzaffar', 'Rabi-ul-Awwal']">
                    <label>
                        <input name="mon" id="" type="checkbox" class="checkbox" [value]="month"
                            (change)="updateFilter($event, 'months', month)" />
                        {{ month }}
                    </label>
                </div>
                <hr />
                <label>Duration</label>
                <br />
                <select class="form-control" id="duration" name="d" (change)="updateDuration($event)">
                    <option value="0" selected>Select</option>
                    <option value="1">0 ~ 15min</option>
                    <option value="900">15 ~ 30min</option>
                    <option value="1800">30 ~ 45min</option>
                </select>
                <span id="search.errors" style="color: red; float: left;">Please provide value.</span>
            </form>
        </div>
        <div class="col-md-9" >
            <div class="row">
                <div class="col-md-4" *ngFor="let media of mediaList">
                    <a [href]="media.contentURL" title="{{ media.title }}">
                        <img style="height:150px !important;" class="group list-group-image" [src]=media.imageURL
                            alt="Media Image" />
                    </a>
                    <div class="caption">
                        <a style="height: 15vh;" href="#" class="text"><b>{{ media.title }}</b></a>
                        <div><b>Duration: {{ media.duration }}</b></div>
                        <hr />
                    </div> 
                </div>
            </div>
           
            
        </div>
    </div>
</div>