<div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-12 togglearea">
        <br>
        <br>

            <form id="subcategory">
                
                <input type="hidden" id="pageNumber" name="pn" value="">
                <input id="search" name="search" value="" type="text" class="form-control"
                    placeholder="Search This Collection">
                <br>
                <br>
                <label>Topics</label>
                <br>
              
                <div class="checkbox">
                    <label>
                        <input name="kw" onclick="formSubmit();" type="checkbox" class="checkbox" value="5600">
                        <span class="cr"></span>
                        Naat
                    </label>

                </div>
                <div class="checkbox">
                    <label>
                        <input name="kw" onclick="formSubmit();" type="checkbox" class="checkbox" value="5763">
                        <span class="cr"></span>
                        Bayan
                    </label>

                </div>
                <div class="checkbox">
                    <label>
                        <input name="kw" onclick="formSubmit();" type="checkbox" class="checkbox" value="5763">
                        <span class="cr"></span>
                        Kawaali
                    </label>

                </div>
                <br>
                <br>
                <br>
                

                <label>VocalLists</label>
                <br>
                <br>

                <!-- Model-->

                <div class="checkbox">
                    <label>
                        <input name="vocl" onclick="formSubmit();" type="checkbox" class="checkbox" value="2">
                        <span class="cr"></span>
                        Huzur Nasir Raza
                    </label>
                    <!-- <span class="pull-right"> 86</span> -->
                </div>

               

                <div class="checkbox">
                    <label>
                        <input name="vocl" onclick="formSubmit();" type="checkbox" class="checkbox" value="10">
                        <span class="cr"></span>
                        Huzur Masoom Raza RA
                    </label>
                    <!-- <span class="pull-right"> 20</span> -->
                </div>

                <div class="checkbox">
                    <label>
                        <input name="vocl" onclick="formSubmit();" type="checkbox" class="checkbox" value="6">
                        <span class="cr"></span>
                        Huzur Sanbil Raza
                    </label>
                    <!-- <span class="pull-right"> 18</span> -->
                </div>

                <div class="checkbox">
                    <label>
                        <input name="vocl" onclick="formSubmit();" type="checkbox" class="checkbox" value="14">
                        <span class="cr"></span>
                        Huzur Shamil Raza
                    </label>
                    <!-- <span class="pull-right"> 54</span> -->
                </div>

                <div class="checkbox">
                    <label>
                        <input name="vocl" onclick="formSubmit();" type="checkbox" class="checkbox" value="13">
                        <span class="cr"></span>
                        Huzur Manqib Raza
                    </label>
                    <!-- <span class="pull-right"> 16</span> -->
                </div>

                <div class="checkbox">
                    <label>
                        <input name="vocl" onclick="formSubmit();" type="checkbox" class="checkbox" value="16">
                        <span class="cr"></span>
                        Huzur Masharib Raza
                    </label>
                    <!-- <span class="pull-right"> 68</span> -->
                </div>
                <br>
                <br>
                <br>


                <label>Month</label>
                <br>
                <br>
                <br>

                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="muharram" checked="">
                        <span class="cr"></span>
                        Muharram-ul-Haram
                    </label>

                    <!-- <span class="pull-right">0</span> -->
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="safar">
                        <span class="cr"></span>
                        Safar-ul-Muzaffar
                    </label>

                    <!-- <span class="pull-right">0</span> -->
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="rabiUlAwwal" checked="">
                        <span class="cr"></span>
                        Rabi-ul-Awwal
                    </label>

                    <!-- <span class="pull-right">13</span> -->
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="rabiUlThani">
                        <span class="cr"></span>
                        Rabi-ul-Aakhir
                    </label>

                    <!-- <span class="pull-right">1</span> -->
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="jumadaAlAwwal">
                        <span class="cr"></span>
                        Jamadi-ul-Awwal
                    </label>

                    <!-- <span class="pull-right">0</span> -->
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="jumadaAlThani">
                        <span class="cr"></span>
                        Jamadi-ul-Aakhir
                    </label>

                    <!-- <span class="pull-right">0</span> -->
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="rajab">
                        <span class="cr"></span>
                        Rajab-ul-Murajjab
                    </label>

                    <span class="pull-right">2</span>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="shaban">
                        <span class="cr"></span>
                        Shaban-ul-Moazzam
                    </label>

                    <!-- <span class="pull-right">3</span> -->
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="ramadan">
                        <span class="cr"></span>
                        Ramadan-ul-Mubarak
                    </label>

                    <!-- <span class="pull-right">2</span> -->
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="shawwal">
                        <span class="cr"></span>
                        Shawwal-ul-Mukarram
                    </label>

                    <!-- <span class="pull-right">1</span> -->
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="zilqad">
                        <span class="cr"></span>
                        Zulqaida
                    </label>

                    <!-- <span class="pull-right">0</span> -->
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mon" id="mon" onclick="formSubmit();" type="checkbox" class="checkbox"
                            value="zilhaj">
                        <span class="cr"></span>
                        Zulhijja
                    </label>

                    <!-- <span class="pull-right">6</span> -->
                </div>
              
                <hr>
                <br>
                <label>Duration</label>
                <br>
                <select class="form-control" id="duration" style="font-weight: bold;font-size: 14px;" name="d"
                    onchange="formSubmit()">
                    <option value="0" selected="">Select</option>
                    <option value="1">0 ~ 15mint</option>
                    <option value="900">15 ~ 30mint</option>
                    <option value="1800">30 ~ 45mint</option>
                    <option value="2700">45 ~ 60mint</option>
                    <option value="3600">60 ~ 75mint</option>
                    <option value="4500">75 ~ 90mint</option>
                    <option value="5400">90 ~ 105mint</option>
                    <option value="6300">105 ~ 120mint</option>
                </select>

                <br>

                <span id="search.errors" style="color: red; float: left;">Please provide value.</span>
            </form>
        </div>
        <div class="col">
            <a href="/medialibrary/51054" title="Hashmati Network">
                <img style="height:150px !important;" class="group list-group-image"
                    src="https://pbs.twimg.com/ext_tw_video_thumb/1628736103544131586/pu/img/epNNd5Rx4_wA88J-?format=jpg&name=large" alt="">

            </a>
            <div class="caption">
                <a style="height: 15vh;" href="/medialibrary/51054" class="text"><b>Hashmati Network</b></a>
                <p class="hidden">Ahmed Raza Khan Barelvi Qadri[a] (14 June 1856 – October 1921), known reverentially as A'la Hazrat,[b] was an Indian Islamic scholar</p>
                <div><b>Duration: 00:02:29</b></div>
                <hr>
                <a href="/medialibrary/51054">
                    <i class="fa fa-film " aria-hidden="true"></i>
                </a>

                &nbsp;&nbsp;







                <a href="javascript:void(0)" data-html="true" data-trigger="focus" class="elo" data-toggle="popover"
                    data-placement="top" data-original-title="Download"
                    data-content="<a href='https://data2.dawateislami.net/download/short-clips/ur/mp4/2017/51054.mp4?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?' style='margin-left: 8%;'><i class='fa fa-file-video-o  fa-lg' aria-hidden='true'></i></a> <a href='https://data2.dawateislami.net/download/short-clips/ur/mp3/2017/51054.mp3?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?'style='margin-left: 18%;'><i class='fa fa-file-audio-o  fa-lg' aria-hidden='true'></i></a>">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>



                &nbsp;&nbsp;
                <a href="javascript:void(0)" data-html="true" class="" data-trigger="focus" data-toggle="popover"
                    data-placement="top" data-original-title="<strong>Share With</strong>"
                    data-content="<a href='#' onclick='facebookcustom(51054);'><i class='fa fa-facebook fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='twittercustom(51054);'style='margin-left: 0%;'><i class='fa fa-twitter fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='googlePluscustom(51054);'style='margin-left: 0%;'><i class='fa fa-google-plus fa-lg' aria-hidden='true'></i></a> </i></a> ">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>

            </div>
            <a href="/medialibrary/51054" title="Hashmati Network">
                <img style="height:150px !important;" class="group list-group-image"
                    src="https://pbs.twimg.com/ext_tw_video_thumb/1628736103544131586/pu/img/epNNd5Rx4_wA88J-?format=jpg&name=large" alt="">

            </a>
            <div class="caption">
                <a style="height: 15vh;" href="/medialibrary/51054" class="text"><b>Hashmati Network</b></a>
                <p class="hidden">Ahmed Raza Khan Barelvi Qadri[a] (14 June 1856 – October 1921), known reverentially as A'la Hazrat,[b] was an Indian Islamic scholar</p>
                <div><b>Duration: 00:02:29</b></div>
                <hr>
                <a href="/medialibrary/51054">
                    <i class="fa fa-film " aria-hidden="true"></i>
                </a>

                &nbsp;&nbsp;







                <a href="javascript:void(0)" data-html="true" data-trigger="focus" class="elo" data-toggle="popover"
                    data-placement="top" data-original-title="Download"
                    data-content="<a href='https://data2.dawateislami.net/download/short-clips/ur/mp4/2017/51054.mp4?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?' style='margin-left: 8%;'><i class='fa fa-file-video-o  fa-lg' aria-hidden='true'></i></a> <a href='https://data2.dawateislami.net/download/short-clips/ur/mp3/2017/51054.mp3?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?'style='margin-left: 18%;'><i class='fa fa-file-audio-o  fa-lg' aria-hidden='true'></i></a>">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>



                &nbsp;&nbsp;
                <a href="javascript:void(0)" data-html="true" class="" data-trigger="focus" data-toggle="popover"
                    data-placement="top" data-original-title="<strong>Share With</strong>"
                    data-content="<a href='#' onclick='facebookcustom(51054);'><i class='fa fa-facebook fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='twittercustom(51054);'style='margin-left: 0%;'><i class='fa fa-twitter fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='googlePluscustom(51054);'style='margin-left: 0%;'><i class='fa fa-google-plus fa-lg' aria-hidden='true'></i></a> </i></a> ">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>

            </div>
           
        </div>
        <div class="col">
            <a href="/medialibrary/51054" title="Hashmati Network">
                <img style="height:150px !important;" class="group list-group-image"
                    src="https://pbs.twimg.com/ext_tw_video_thumb/1628736103544131586/pu/img/epNNd5Rx4_wA88J-?format=jpg&name=large" alt="">

            </a>
            <div class="caption">
                <a style="height: 15vh;" href="/medialibrary/51054" class="text"><b>Hashmati Network</b></a>
                <p class="hidden">Ahmed Raza Khan Barelvi Qadri[a] (14 June 1856 – October 1921), known reverentially as A'la Hazrat,[b] was an Indian Islamic scholar</p>
                <div><b>Duration: 00:02:29</b></div>
                <hr>
                <a href="/medialibrary/51054">
                    <i class="fa fa-film " aria-hidden="true"></i>
                </a>
                &nbsp;&nbsp;
                <a href="javascript:void(0)" data-html="true" data-trigger="focus" class="elo" data-toggle="popover"
                    data-placement="top" data-original-title="Download"
                    data-content="<a href='https://data2.dawateislami.net/download/short-clips/ur/mp4/2017/51054.mp4?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?' style='margin-left: 8%;'><i class='fa fa-file-video-o  fa-lg' aria-hidden='true'></i></a> <a href='https://data2.dawateislami.net/download/short-clips/ur/mp3/2017/51054.mp3?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?'style='margin-left: 18%;'><i class='fa fa-file-audio-o  fa-lg' aria-hidden='true'></i></a>">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
                &nbsp;&nbsp;
                <a href="javascript:void(0)" data-html="true" class="" data-trigger="focus" data-toggle="popover"
                    data-placement="top" data-original-title="<strong>Share With</strong>"
                    data-content="<a href='#' onclick='facebookcustom(51054);'><i class='fa fa-facebook fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='twittercustom(51054);'style='margin-left: 0%;'><i class='fa fa-twitter fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='googlePluscustom(51054);'style='margin-left: 0%;'><i class='fa fa-google-plus fa-lg' aria-hidden='true'></i></a> </i></a> ">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>

            </div>
            <div class="col">
                <a href="/medialibrary/51054" title="Hashmati Network">
                    <img style="height:150px !important;" class="group list-group-image"
                        src="https://pbs.twimg.com/ext_tw_video_thumb/1628736103544131586/pu/img/epNNd5Rx4_wA88J-?format=jpg&name=large" alt="">
    
                </a>
                <div class="caption">
                    <a style="height: 15vh;" href="/medialibrary/51054" class="text"><b>Hashmati Network</b></a>
                    <p class="hidden">Ahmed Raza Khan Barelvi Qadri[a] (14 June 1856 – October 1921), known reverentially as A'la Hazrat,[b] was an Indian Islamic scholar</p>
                    <div><b>Duration: 00:02:29</b></div>
                    <hr>
                    <a href="/medialibrary/51054">
                        <i class="fa fa-film " aria-hidden="true"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a href="javascript:void(0)" data-html="true" data-trigger="focus" class="elo" data-toggle="popover"
                        data-placement="top" data-original-title="Download"
                        data-content="<a href='https://data2.dawateislami.net/download/short-clips/ur/mp4/2017/51054.mp4?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?' style='margin-left: 8%;'><i class='fa fa-file-video-o  fa-lg' aria-hidden='true'></i></a> <a href='https://data2.dawateislami.net/download/short-clips/ur/mp3/2017/51054.mp3?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?'style='margin-left: 18%;'><i class='fa fa-file-audio-o  fa-lg' aria-hidden='true'></i></a>">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a href="javascript:void(0)" data-html="true" class="" data-trigger="focus" data-toggle="popover"
                        data-placement="top" data-original-title="<strong>Share With</strong>"
                        data-content="<a href='#' onclick='facebookcustom(51054);'><i class='fa fa-facebook fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='twittercustom(51054);'style='margin-left: 0%;'><i class='fa fa-twitter fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='googlePluscustom(51054);'style='margin-left: 0%;'><i class='fa fa-google-plus fa-lg' aria-hidden='true'></i></a> </i></a> ">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                    </a>
    
                </div>
               
            </div>
        </div>
        <div class="col">
            <a href="/medialibrary/51054" title="Hashmati Network">
                <img style="height:150px !important;" class="group list-group-image"
                    src="https://pbs.twimg.com/ext_tw_video_thumb/1628736103544131586/pu/img/epNNd5Rx4_wA88J-?format=jpg&name=large" alt="">

            </a>
            <div class="caption">
                <a style="height: 15vh;" href="/medialibrary/51054" class="text"><b>Hashmati Network</b></a>
                <p class="hidden">Ahmed Raza Khan Barelvi Qadri[a] (14 June 1856 – October 1921), known reverentially as A'la Hazrat,[b] was an Indian Islamic scholar</p>
                <div><b>Duration: 00:02:29</b></div>
                <hr>
                <a href="/medialibrary/51054">
                    <i class="fa fa-film " aria-hidden="true"></i>
                </a>
                &nbsp;&nbsp;
                <a href="javascript:void(0)" data-html="true" data-trigger="focus" class="elo" data-toggle="popover"
                    data-placement="top" data-original-title="Download"
                    data-content="<a href='https://data2.dawateislami.net/download/short-clips/ur/mp4/2017/51054.mp4?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?' style='margin-left: 8%;'><i class='fa fa-file-video-o  fa-lg' aria-hidden='true'></i></a> <a href='https://data2.dawateislami.net/download/short-clips/ur/mp3/2017/51054.mp3?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?'style='margin-left: 18%;'><i class='fa fa-file-audio-o  fa-lg' aria-hidden='true'></i></a>">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
                &nbsp;&nbsp;
                <a href="javascript:void(0)" data-html="true" class="" data-trigger="focus" data-toggle="popover"
                    data-placement="top" data-original-title="<strong>Share With</strong>"
                    data-content="<a href='#' onclick='facebookcustom(51054);'><i class='fa fa-facebook fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='twittercustom(51054);'style='margin-left: 0%;'><i class='fa fa-twitter fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='googlePluscustom(51054);'style='margin-left: 0%;'><i class='fa fa-google-plus fa-lg' aria-hidden='true'></i></a> </i></a> ">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                </a>

            </div>
            <div class="col">
                <a href="/medialibrary/51054" title="Hashmati Network">
                    <img style="height:150px !important;" class="group list-group-image"
                        src="https://pbs.twimg.com/ext_tw_video_thumb/1628736103544131586/pu/img/epNNd5Rx4_wA88J-?format=jpg&name=large" alt="">
    
                </a>
                <div class="caption">
                    <a style="height: 15vh;" href="/medialibrary/51054" class="text"><b>Hashmati Network</b></a>
                    <p class="hidden">Ahmed Raza Khan Barelvi Qadri[a] (14 June 1856 – October 1921), known reverentially as A'la Hazrat,[b] was an Indian Islamic scholar</p>
                    <div><b>Duration: 00:02:29</b></div>
                    <hr>
                    <a href="/medialibrary/51054">
                        <i class="fa fa-film " aria-hidden="true"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a href="javascript:void(0)" data-html="true" data-trigger="focus" class="elo" data-toggle="popover"
                        data-placement="top" data-original-title="Download"
                        data-content="<a href='https://data2.dawateislami.net/download/short-clips/ur/mp4/2017/51054.mp4?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?' style='margin-left: 8%;'><i class='fa fa-file-video-o  fa-lg' aria-hidden='true'></i></a> <a href='https://data2.dawateislami.net/download/short-clips/ur/mp3/2017/51054.mp3?fn=Animated Madani Khaka - Shab e Wiladat e Sarkarﷺ Kis Tarah Manain?'style='margin-left: 18%;'><i class='fa fa-file-audio-o  fa-lg' aria-hidden='true'></i></a>">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a href="javascript:void(0)" data-html="true" class="" data-trigger="focus" data-toggle="popover"
                        data-placement="top" data-original-title="<strong>Share With</strong>"
                        data-content="<a href='#' onclick='facebookcustom(51054);'><i class='fa fa-facebook fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='twittercustom(51054);'style='margin-left: 0%;'><i class='fa fa-twitter fa-lg' aria-hidden='true'></i></a> <a href='#' onclick='googlePluscustom(51054);'style='margin-left: 0%;'><i class='fa fa-google-plus fa-lg' aria-hidden='true'></i></a> </i></a> ">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                    </a>
    
                </div>
                
            </div>
        </div>
       
    </div>
    