<!-- <div  class="loading-container">
    <img src="../../../../assets/img/logo/images.jpg" alt="Loading..."  />
  </div> -->

<div class="container-fluid px-0">
<div class="breadcrumb text-center">
<div class="w-100">
    
         <h1 class="breadcrumb_title">Books</h1>
    <a href="/" title="Back to the frontpage">Home</a>
    <span aria-hidden="true" class="breadcrumb__sep"> / </span>
    <span>Book</span>
    
   
  </div>
</div>
</div>

<div class="container">
    <!-- Book Grid -->

    <div class="row">
        <div class="col-md-12">
             <div class="search-box my-3 search-container">
            <input type="text" class="form-control" placeholder="Search books..." />
            <button class="search-btn" id="searchBtn">
                <i class="fas fa-search"></i>
            </button>
        </div>
        </div>
    </div>
    <div class="row">
        <!-- Search Box -->
       
        <div *ngFor="let item of books | paginate: { id: 'content-pagination', itemsPerPage: itemsPerPage, currentPage: currentPage }"
            class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 text-center my-3 px-2">
            <div class="card book-card" tabindex="0">
                <div class="card-img-wrapper">
                    <img [src]="item.img" [alt]="item.title || 'Book Image'" loading="lazy" class="card-img-top" />
                </div>
                <div class="card-body">
                    <h5 class="card-title text-truncate" [attr.title]="item.title">{{ item.title }}</h5>
                    <div class="d-flex justify-content-between mt-3">
                        <button class="btn btn-read btn-sm" *ngIf="!item.hasChildren" (click)="onRead(item)">
                            <i class="fas fa-book-open fa-fw"></i> Download 
                            Reading
                        </button>
                        <button class="btn btn-sm" *ngIf="!item.hasChildren">
                            <i class="fas fa-download fa-fw"></i> Download
                        </button>
                        <button class="btn btn-sm" (click)="goToSubBooks(item.id)"
                            *ngIf="item.hasChildren">
                            View Volumes
                        </button>
                    </div>

                    <div class="book-rating text-start mt-3">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="rating-text">4.5/5</span>
                        </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="pagination-wrapper mt-4 d-flex justify-content-center">
        <pagination-controls id="content-pagination" (pageChange)="currentPage = $event" class="pagination"
            previousLabel="Pervious" nextLabel="Next">
        </pagination-controls>
    </div>
</div>
<app-footer></app-footer>