<div class="container mt-4 pt-5">
    <h3 class="text-primary">FeedBack</h3>
    <form >
        <div class="row">
            <div class="col-md-4 mb-3">
                <!-- <label for="form_name" class="form-label">Name</label> -->
                <input id="form_name" formControlName="form_name" class="form-control pt-10 pb-10 font-14 mb-10"
                    type="text" style="background: white !important;" placeholder="Enter Name" maxlength="50">
            </div>
            <div class="col-md-4 mb-3">
                <!-- <label for="form_email" class="form-label">Email</label> -->
                <input id="form_email" formControlName="form_email" class="form-control pt-10 pb-10 font-14 mb-10"
                    type="email" style="background: white !important;" placeholder="Enter Email">
            </div>
            <div class="col-md-4 mb-3">
                <!-- <label for="form_no" class="form-label">Mobile or Phone Number</label> -->
                <input id="form_no" formControlName="form_no" class="form-control pt-10 pb-10 font-14 mb-10"
                    type="number" style="background: white !important;" placeholder="Enter Mobile Number">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <!-- <label for="form_appointed" class="form-label">Appointed As</label> -->
                <input id="form_appointed" formControlName="form_appointed" class="form-control pt-10 pb-10 font-14 mb-10"
                    type="text" style="background: white !important;" placeholder="Enter Appointed">
            </div>
            <div class="col-md-3 mb-3">
                <!-- <label for="country" class="form-label">Country</label> -->
                <select id="country" formControlName="country" class="form-control pt-10 pb-10 font-14 mb-10">
                    <option>Select Country</option>
                    <option value="AW">Aruba</option>
                    <option value="AF">Afghanistan</option>
                    <option value="AO">Angola</option>
                    <option value="AI">Anguilla</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <!-- <label for="form_zone" class="form-label">Province</label> -->
                <input id="form_zone" formControlName="form_zone" class="form-control pt-10 pb-10 font-14 mb-10"
                    type="text" style="background: white !important;" placeholder="Province">
            </div>
            <div class="col-md-3 mb-3">
                <!-- <label for="form_kabina" class="form-label">City</label> -->
                <input id="form_kabina" formControlName="form_kabina" class="form-control pt-10 pb-10 font-14 mb-10"
                    type="text" style="background: white !important;" placeholder="City">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <!-- <label for="form_address" class="form-label">Address</label> -->
                <textarea id="form_address" formControlName="form_address" class="form-control pt-10 pb-10 font-14 mb-10"
                    placeholder="Address" maxlength="500"></textarea>
            </div>
            <div class="col-md-6 mb-3">
                <!-- <label for="form_summary" class="form-label">Complain Summary</label> -->
                <textarea id="form_summary" formControlName="form_summary" class="form-control pt-10 pb-10 font-14 mb-10"
                    placeholder="Complain Summary" maxlength="500"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <!-- <label for="form_message" class="form-label">Complain and Suggestion</label> -->
                <textarea id="form_message" formControlName="form_message" class="form-control pt-10 pb-10 font-14 mb-10"
                    rows="5" placeholder="Enter Message" maxlength="500"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
