  <!-- Footer Start -->

    <!-- <div class="container-fluid footer py-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">www.abulfatah.com</a>, All Right Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">
                Designed By <a class="border-bottom" href="#">Abul Fatah </a>
            </div>
        </div>
    </div> -->

    <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="mb-0 dir-ltr pt-0" style="color: white;">Copyright © <span id="curr_year">2024</span> by AbulFatah</p>
                    </div>
                </div>
            </div>
        </footer>
<!-- Footer End -->
