 <section>
        <div class="container" style="margin-top: 140px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 pb-5">
                    <div class="para-image-bg my-4">
                        <ngx-extended-pdf-viewer 
                        [src]="'assets/books/F1.Muqadma.pdf'"  
                        height="190vh"
                        [textLayer]="true" 
                        [showHandToolButton]="true"
                        [showPresentationModeButton]="true" 
                        [showDownloadButton]="true">
                    </ngx-extended-pdf-viewer>
                </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>