<!-- Books Start -->
<div class="container-fluid activities" style="margin-top: 200px;">
    <div class="container" style="max-width: 1100px !important;">
        <h1 class="display-6 pt-3 mb-5" data-wow-delay="0.1s">Islamic <span class="text-primary">Books</span></h1>
        <div class="row g-4">
            <div class="input-group mb-4">
                <div class="input-group mb-4"> <input type="text" class="form-control"
                        placeholder="search islamic books" [(ngModel)]="searchQuery" (ngModelChange)="searchBooks()"
                        style="border: 1px solid #157784;">
                    <div class="input-group-append"> <button class="btn btn-secondary" type="button"
                            style="border: 1px solid #157784; background-color: #157784;"> <i class="fa fa-search"></i>
                        </button> </div>
                </div>
                <div class="col-lg-6 col-xl-3" *ngFor="let book of books">
                    <div class="p-4" data-wow-delay="0.1s" style="flex-direction: column;">
                        <img [src]="book.image" (click)="booksDetails(book)" class="img-fluid" alt="Book Image">
                        <p class="book_name">{{ book.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Books End -->