.background-list {
   background-color:var(--light-secondary-color);
}

.background-list-image ul.nav-tabs li a {

   border: 1px solid transparent;
   border-top-left-radius: .25rem;
   border-top-right-radius: .25rem;
   padding: 18px 25px;
   background-color: var(--light-secondary-color);
   background: linear-gradient(to top right, #f9f9f9 50%, #f1f1f1 50%);
   border-radius: 50px 50px 0px 0px;
   font-weight: bold;
   color: var(--primary-color);
}

.background-list-image ul.nav-tabs li a.active {
   background-position: center;
   background-size: 100%;
   background: var(--primary-color);
   color: var(--bg-color);
   border-color: transparent;
}

.tab-content {
   line-height: 25px;
   border: 1px solid var(--secondary-color);
   border-bottom: 3px solid var(--primary-color);
   padding: 30px 25px;
   background: var(--bg-color);
   direction: ltr;
   text-align: left;
}

.card-list {
   background: var(--bg-color);
   padding: 0px 10px;
   border: 1px solid var(--secondary-color);
   transition: 0.5s;
   overflow: hidden;
   box-shadow: 4px 8px 10px -7px var(--secondary-color);
   border-radius: 10px;
}
.card-list a {
   list-style: none;
}
.list-name-english {
   color: var(--text-color) !important;
   padding-right: 6px;
   font-weight: bold;
   text-transform: capitalize;
   font-size: 16px;
}
.margin-top-10 {
   margin-top: 10px;
}
.margin-bottom-10 {
   margin-bottom: 10px;
}

.list-name-urdu {
   font-family: Al-Qalam;
   direction: rtl !important;
   font-size: 20px;
   color: var(--primary-color);
   font-weight: bold;
}
.serial-number {
   border-radius: 4px;
   width: 50px;
   height: 50px;
   font-size: 17px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.1s;
   background: var(--bg-color);
   font-weight: bold;
   margin-left: -2px !important;
   color: var(--primary-color);
}

.card-list a:hover .serial-number {
   box-shadow: -1px 0px 0px 1px #1c669d3d, inset -9px 0px 7px -6px var(--secondary-color);
   box-shadow: 0px 0px 10px var(--secondary-color);
}

.para-name {
   font-size: 20px;
   padding: 10px 8px;
   border-radius: 0px;
   margin: 0px;
   transition: 0.3s;
   background: var(--bg-color);
   font-weight: bold;
   color: var(--primary-color);
   margin-left: -11px;
}
.list-para-name-urdu {
   display: flex;
   justify-content: right;
   align-items: center;
   height: 100%;
   padding-right: 20px;
   color: var(--text-color);
   font-weight: bold;
}
.card-list a:hover h5 {
box-shadow: 0px 0px 13px -3px var(--secondary-color);
}

@media (max-width: 768px) { 
   .background-list-image ul.nav-tabs li a {
       border-radius: 0px;
 } 
}
@media(max-width:767px){
   .modal-responsive {
       padding:80px 0px !important;
   }
}
@media (max-width: 610px){
   .modal-responsive {
       padding: 68px 0px !important;
   }
}
@media (max-width: 480px){
   .modal-responsive {
       padding: 50px 0px !important;
   }
}
@media (max-width: 414px){
   .modal-responsive {
       padding: 40px 0px !important;
   }
}
.loading-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Full viewport height */
 }
