<!-- Optimized Layout -->
<div class="container-fluid">
    <div class="container py-5">
        <div class="row g-0">
            <!-- Main Content -->
            <div class="col-md-8 col-lg-9 col-sm-12 order-lg-1 order-2 mt-2">
                <!-- Book Details -->
                <div class="row" *ngFor="let book of bookDetails">
                    <div class="col-md-5">
                        <div class="p-4 d-flex flex-column fadeIn" style="animation-delay: 0.1s;">
                            <img [src]="book.image" class="img-fluid" alt="Book Image">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body pt-0">
                            <h5 class="card-title mb-2">Book Information</h5>
                            <p><strong>Name:</strong> {{ book.name }}</p>
                            <p><strong>Author/Editor:</strong> {{ book.author }}</p>
                            <p><strong>Translator:</strong> {{ book.translator }}</p>
                            <p><strong>Publisher:</strong> {{ book.publisher }}</p>
                            <p><strong>Pages:</strong> {{ book.pages }}</p>
                            <p><strong>Language:</strong> {{ book.language }}</p>
                            <p><strong>Category:</strong> {{ book.category }}</p>
                            <p><strong>Read Online:</strong> <a href="#">{{ book.name }}</a></p>
                            <div class="mb-3">
                                <button class="btn btn-primary border-0 px-5" type="button">PDF Download</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- More Posts -->
                <div class="row mt-3">
                    <div class="col-md-12">
                        <a href="#">Read more Posts: <span>1000</span></a>
                    </div>
                </div>
                <!-- Social Icons -->
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="team-icon d-flex pb-4 mb-4">
                            <a class="btn btn-primary btn-lg-square me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-lg-square me-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-lg-square me-2" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-primary btn-lg-square" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
  
            <!-- Sidebar -->
            <div class="col-md-4 col-lg-3 col-sm-12 order-lg-2 order-1 mt-2">
                <div class="bg-white shadow-sm">
                    <div class="card-body">
                        <h4 class="mt-5 mb-3 text-dark">Popular Books</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-start px-0" *ngFor="let book of popularBooks">
                                <div class="ms-2 me-auto">{{ book.name }}</div>
                                <span class="badge bg-primary rounded-pill">{{ book.count }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  