.contact-us {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  form {
    flex: 1;
    min-width: 300px;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    
    border: none;
    border-radius: 7px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  form button {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
  
  form button:hover {
    background-color: var(--primary-color);
  }
  
  .map {
    flex: 1;
    min-width: 300px;
  }
  