<section>
    <div class="container" style="margin-top: 140px;">
        <div class="row">
            <div class="col-lg-8 col-md-12 pb-5">
                <div class="para-image-bg my-4">
                    <ngx-extended-pdf-viewer [src]="pdfUrl" height="190vh" [textLayer]="true" [showHandToolButton]="true"
                        [showPresentationModeButton]="true" [showDownloadButton]="true">
                    </ngx-extended-pdf-viewer>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 d-none d-lg-block">
                <div class="row">
                    <div class="col-12">
                        <div class="section-footer">
                            <div class="section-header">
                                Reading Options
                            </div>
                        </div>
                    </div>
                </div>

                <div class="side-panel-bg px-2">
                    <div class="row">
                        <div class="col-9 pe-1">
                            <select name="quran-para" class="form-select select-box rounded-0"
                                aria-label="Default select example" (change)="onParaChange($event)"
                                [(ngModel)]="selectedPara">
                                <option value="" disabled>Select Para</option>
                                <option *ngFor="let para of ddlPara" [value]="para.value">{{ para.name }}</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label class="label-style">Para</label>
                        </div>
                    </div>
                </div>

                <div class="side-panel-bg px-2">
                    <div class="row">
                        <div class="col-9 pe-1">
                            <select name="quran-surah" class="form-select select-box rounded-0"
                                aria-label="Default select example" (change)="onSurahChange($event)"
                                [(ngModel)]="selectedSurah">
                                <option value="" disabled>Select Surah</option>
                                <option *ngFor="let surah of ddlSurah" [value]="surah.value">{{ surah.name }}</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label class="label-style">Surah</label>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-12 position-relative">
                        <div class="section-footer">
                            <div class="section-header full-width">
                                Listen and Download Options
                            </div>
                        </div>
                    </div>
                </div>

                <div class="side-panel-bg p-2 mb-1">
                    <div class="row">
                        <div class="col-9 pe-1">
                            <select name="quran-qari" class="form-select select-box rounded-0"
                                aria-label="Default select example">
                                <option disabled>Select Qari</option>
                                <option *ngFor="let qari of ddlQari" [value]="qari.value">{{ qari.name }}</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label class="label-style">Qari</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 pe-1">
                        <audio controls class="w-100">
                            <source [src]="audioUrl" type="audio/ogg">
                            <source [src]="audioUrl" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 pe-1">
                        <div class="d-flex justify-content-center">
                            <a [href]="pdfUrl" download class="action-button me-5 no-decoration">PDF</a>
                            <a [href]="audioUrl" download class="action-button no-decoration">Audio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </div>
</section>

<!-- Modal Templates -->
<div class="modal fade" id="displayOption" tabindex="-1" aria-labelledby="displayOptionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Font Size</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-6 text-center">
                        <a href="#" class="action-button no-decoration">
                            <i class="fa fa-search-minus"></i>
                        </a>
                    </div>
                    <div class="col-md-6 col-6 text-center">
                        <a href="#" class="action-button no-decoration">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 2: Listen and Download -->
<div class="modal fade" id="listen" tabindex="-1" aria-labelledby="listenLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listenLabel">Listen and Download</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="side-panel-bg p-2 mb-1">
                    <div class="row">
                        <div class="col-9 pe-1">
                            <select name="quran-qari" class="form-select select-box rounded-0"
                                aria-label="Default select example">
                                <option disabled selected>Select Qari</option>
                                <option *ngFor="let qari of ddlQari" [value]="qari.value">{{ qari.name }}</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label class="label-style">Qari</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pe-1">
                        <audio controls="" class="w-100">
                             <source [src]="audioUrl" type="audio/ogg">
                             <source [src]="audioUrl" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3: Reading Option -->
<div class="modal fade" id="readingModal" tabindex="-1" aria-labelledby="readingOptionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="readingOptionLabel">Reading Option and Download</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add Reading Options or Informative Content Here -->
                <p>Copy and paste the content or download it from the available options.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>