.media-section {
   background-color: var(--light-secondary-color);
 }
 
 .media-list li {
   list-style: none;
   margin: 5px 0;
   line-height: 18px;
   width: 100%;
   border-left: 2px solid var(--primary-color);
   transition: 0.3s;
 }
 
 .nav-tabs.media-list {
   border: none;
 }
 
 .nav-tabs.media-list li a {
   text-decoration: none;
   color: var(--primary-color);
   font-size: 18px;
   display: block;
   padding: 7px;
   background:var(--bg-color);
 }
 
 .nav-tabs.media-list li:hover a {
   background: var(--primary-color);
   color:var(--bg-color);
 }
 
 .media-card {
   background:var(--bg-color);
   padding: 15px;
   border-radius: 10px;
   text-align: center;
 }
 
 .media-name {
   font-size: 15px;
   font-weight: 600;
   color:var(--bg-color);
   margin: 10px 0;
   text-transform: capitalize;
 }
 
 .menu-toggle {
   font-size: 26px;
   font-weight: bold;
   padding: 10px;
   background:var(--bg-color);
   color:var(--text-color);
   text-align: center;
 }
 
 .categories-title {
   background-color: var(--primary-color);
   color:var(--bg-color);
   padding: 7px;
   text-align: center;
 }
 .loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}
 
 @media (max-width: 768px) {
   .tabs-wrapper {
     flex-direction: column;
   }
   .mobile-tabs {
     position: fixed;
     top: 0;
     left: -250px;
     width: 250px;
     height: 100%;
     background:var(--bg-color);
     box-shadow: 2px 0 10px var(--light-secondary-color);
     transition: left 0.4s ease-in-out;
     z-index: 1000;
     overflow-y: auto;
   }
   .mobile-tabs.show {
     left: 0;
   }
 }
 /* General styles */
.grid-item {
  display: inline-block;
  padding: 10px;
}

/* Desktop View (default) - 4 images per row */
@media (min-width: 992px) {
  .grid-item {
    width: 25%; /* 100% / 4 = 25% */
  }
}

/* Tablet View - adjust if necessary */
@media (max-width: 991px) and (min-width: 768px) {
  .grid-item {
    width: 33.33%; /* 100% / 3 = ~33% */
  }
}

/* Mobile View - 2 images per row */
@media (max-width: 767px) {
  .grid-item {
    width: 50%; /* 100% / 2 = 50% */
  }
}
